:root {
	--base00: #282c34;
	--base01: #353b45;
	--base02: #3e4451;
	--base03: #545862;
	--base04: #565c64;
	--base05: #abb2bf;
	--base06: #b6bdca;
	--base07: #c8ccd4;
	--base08: #e06c75;
	--base09: #d19a66;
	--base0A: #e5c07b;
	--base0B: #98c379;
	--base0C: #56b6c2;
	--base0D: #61afef;
	--base0E: #c678dd;
	--base0F: #be5046;
}

html {
	background: var(--base00);
	color: var(--base05);
}

iframe {
	display: block;
	width: 64vw;
	height: 36vw;
	padding: 2.5vw 2.5vw 2.5vw 2.5vw;
}

.container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

.videoContainer {
	position: absolute;
	border-radius: 10px;
	top: 1vw;
	right: 15vw;
	left: 15vw;
	background: var(--base01);
	display: block;
}

.description {
	white-space: pre-line;

	position: absolute;
	top: 43vw;
	left: 15vw;
	right: 15vw;
	padding: 2.5vw 2.5vw 2.5vw 2.5vw;
	margin-bottom: 1vw;

	display: block;
	border-radius: 10px;
	text-align: justify;

	background: var(--base01);
}

.description::-moz-selection {
	background: var(--base03);
}
